<h1>Listing builds</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Version</th>
      <th>Releasenotes</th>
      <th>Platform</th>
      <th>Buildidenifier</th>
      <th>Accesstoken</th>
      <th>Domain</th>
      <th>Provision</th>
      <th>Createdate</th>
      <th>Displayname</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.number %></td>
        <td><%= build.version %></td>
        <td><%= build.releaseNotes %></td>
        <td><%= build.platform %></td>
        <td><%= build.buildIdenifier %></td>
        <td><%= build.accessToken %></td>
        <td><%= build.domain %></td>
        <td><%= build.provision %></td>
        <td><%= build.createDate %></td>
        <td><%= build.displayname %></td>
        <td><%= build.icon %></td>
        <td><%= link_to 'Show', build %></td>
        <td><%= link_to 'Edit', edit_build_path(build) %></td>
        <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build', new_build_path %>
