<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @build.number %>
</p>

<p>
  <strong>Version:</strong>
  <%= @build.version %>
</p>

<p>
  <strong>Releasenotes:</strong>
  <%= @build.releaseNotes %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @build.platform %>
</p>

<p>
  <strong>Buildidenifier:</strong>
  <%= @build.buildIdenifier %>
</p>

<p>
  <strong>Accesstoken:</strong>
  <%= @build.accessToken %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @build.domain %>
</p>

<p>
  <strong>Provision:</strong>
  <%= @build.provision %>
</p>

<p>
  <strong>Displayname:</strong>
  <%= @build.displayname %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @build.icon %>
</p>

<p>
  <strong>Buildfilepath:</strong>
  <%= @build.buildFilePath %>
</p>
<p>
  <strong>OTA:</strong>
  <%
        str = @build.buildFilePath.url
      list = str.split('/')
      path = list[0..list.count-2].join('/') + '/manifest.plist'
    %>
    <%=
   link_to 'Install OTA', 'itms-services://?action=download-manifest&url=https://192.168.1.62:3001'+path %>
</p>
<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
